// FONTS

/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'),
         url('../fonts/heebo-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/heebo-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/heebo-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  
  /* heebo-700 - latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    src: local('Heebo Bold'), local('Heebo-Bold'),
         url('../fonts/heebo-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/heebo-v4-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/heebo-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  }  

  $primary-font: 'Heebo', 'Helvetica', sans-serif;


// COLORS
$body-background:       #EBEBEB; // also used for footer link hover
$container-background:  #F7F7F7; // also used for high score zebra pattern
$card-background:       #FFFFFF;
$primary-text:          #333;
$accent-color:          #FF7400; // used to accent headings, page links, navbar link hover
$game-next-sent:        #BFBFBF;
$soft-gray:             #E6E6E6; // used as trophy shelf, separator on user page, high scores 
$warning:               #B22222;
$footer-text:           #D8D8D8;
$gradient-bright:       #f0cd06;



// Media breakpoints - taken from Bootstrap, with thanks
// https://getbootstrap.com/docs/4.0/layout/overview/
// Base CSS values are for 575px and below width viewports, might break below 320px.
$small:     576px; 
$medium:    768px;
$large:     992px;
$x-large:   1200px; // currently unused


// MIXINS
@mixin small {
    @media (min-width: #{$small}) and (max-width: #{$medium - 1}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) and (max-width: #{$large - 1}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large})/* and (max-width: #{$x-large -1})*/ {
        @content;
    }
}
/*
@mixin x-large {
    @media (min-width: #{$x-large}) {
        @content;
    }
}
*/
@mixin display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin display-inline-flex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flex($flexor) {
    -webkit-box-flex: $flexor;
    -webkit-flex: $flexor;
    -ms-flex: $flexor;
    flex: $flexor;
}    

@mixin grid {
    display: grid;
    display: -ms-grid;
}

html {
    font-size: 62.5%;  // "The 62.5% trick"
}

body {
    font-family: $primary-font;
    background-color: $body-background;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    @include display-flex();
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: $container-background;
    width: 100%;
    @include flex(1);
    margin: 0 auto;

    @include large {
        width: 992px;
        box-shadow: 0px 0px 64px 42px rgba(224,224,224,0.5);
    }
}

header {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 1rem;

    ul.flash {
        list-style-type: none;
        display: inline-table;
        padding-top: 1rem;
        padding-left: 0;
        
        li {
            font-style: italic;
            display: inline;
            font-size: 1.2rem;

            @include medium {
                font-size: 1.4rem;
            }

            @include large {
                font-size: 1.5rem;
            }
        }
    }
}


/* COOKIE CONSENT */

#cookie-consent-container {
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: $accent-color;
    background-image:
        linear-gradient(
            to top right, 
            $accent-color, $gradient-bright
        );
    z-index: 2;

    p {
        @extend %p-font-size;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    a, a:visited {
        color: $primary-text;
        font-weight: bold;
    }

    a:hover {
        text-decoration: none;
    }
}

#consent-box {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1rem;   
    vertical-align: middle;
    
    @include large {
        -ms-transform: scale(1.25); /* IE */
        -moz-transform: scale(1.25); /* FF */
        -webkit-transform: scale(1.25); /* Safari and Chrome */
        -o-transform: scale(1.25); /* Opera */
    }
}

#cookie-consent {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.4rem;
    
    @include large {
        font-size: 1.6rem;
    }
}

/* NAVBAR */

nav {
    @include grid();
    grid-template-rows: 60% 40%;
    grid-template-columns: 1;
    padding-top: 1rem;
    font-size: 1.3rem;
    height: 4rem;
    width: 100%;

    @include small {
        height: 5rem;
    }

    @include medium {
        height: 7rem;
    }

    @include large {
        height: 8rem;
    }

    .site-header {        
        grid-row: 1 / 2;
        padding-top: 0;

        a, a:visited {
            font-size: 2rem;
            font-weight: bold;

            @include small {
                font-size: 2.8rem;
            }

            @include medium {
                font-size: 3.6rem;
            }

            @include large {
                font-size: 4.2rem;
            }
        }
    }

    a, a:visited {
        color: $primary-text;
        text-decoration: none;
        font-weight: 800;
        margin: 0;
        transition: color 0.2s;

        &:hover {
            color: $accent-color;
        }
    }

    .navigation {
        grid-row: 2 / 3;
        @include display-inline-flex();
        padding-left: 0;
        list-style-type: none;
        

        li {
            @include flex(1);
            padding: 0;

            &.left {
                text-align: left;
                padding-left: 2rem;

                @include small {
                    padding-left: 5rem;
                }
    
                @include medium {
                    padding-left: 7rem;
                }
    
                @include large {
                    padding-left: 8rem;
                }
            }

            &.right {
                text-align: right;
                padding-right: 2rem;

                @include small {
                    padding-right: 5rem;
                }
    
                @include medium {
                    padding-right: 7rem;
                }
    
                @include large {
                    padding-right: 9rem;
                }
            }

            &.left, &.right {
    
                @include small {
                    font-size: 1.5rem;   
                }
    
                @include medium {
                    font-size: 1.8rem;
                }
    
                @include large {
                    font-size: 2rem;
                }
            }

            
        }
    }
}


/* USER FORM */

%label-shared {
    font-size: 1.3rem;
    font-weight: bold;

    @include small {
        font-size: 1.4rem;
    }

    @include medium {
        font-size: 1.5rem;
    }

    @include large {
        font-size: 1.6rem;
    }
}

%button-shared {
    width: 25%;
    font-size: 1.4rem;
    margin-top: 0;
    box-shadow: 1px 1px 2px rgba(92, 92, 92, 0.3);

    @include large {
        font-size: 1.6rem;
    }
}

%input-shared {
    margin: 0.5rem auto 1.5rem auto;
    padding: 0.4rem;
    color: $primary-text;
    box-sizing: border-box;
    border-radius: 5px;
}

.user-form {
    margin: 0 5%;
    text-align: left;

    label {
        @extend %label-shared;
    }

    input {
        @extend %input-shared;
        font-size: 1.6rem;

        @include small {
            font-size: 1.7rem;
        }

        @include medium {
            font-size: 1.8rem;
        }

        @include large {
            font-size: 1.9rem;
        }

        &:focus {
            border: 1pt solid darken($accent-color, 5%); 
        }
    }

    textarea {
        @extend %input-shared;
        width: 100%;
        resize: none;
        font-size: 1.4rem;
        line-height: 2rem;
        overflow: auto;

        @include large {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }
    }

    input[type=text], input[type=password] {
        width: 100%;
    }

    span {
        font-size: 1.4em;
        color: $accent-color;

        @include small {
            font-size: 1.5rem;
        }

        @include medium {
            font-size: 1.5rem;
        }

        @include large {
            font-size: 1.6rem;
        }
    }

    #remember_me {
        display: inline-block;
        width: 5%;
        margin-left: 1rem;
    }

    input[type=submit] {
        @extend %button-shared;
    }

    ul {
        font-size: 1.6rem;
    }
}


/* REGISTRATION */

#agree {
    margin: 2rem 1rem 2.5rem 0;
}

#submit_registration {
    margin-bottom: 2rem;
}


/* THE GAME */

.game-time-left {
    color: $primary-text;
    font-size: 2rem;
    text-align: center;
    padding: inherit 1rem;

    @include small {
        font-size: 2.2rem;
    }

    @include medium {
        font-size: 2.4rem;
    }

    @include large {
        font-size: 2.6rem;
    }
}

.game-sentence {
    color: $primary-text;
    font-size: 2.4rem;
    text-align: center;
    padding: inherit 1rem;

    @include small {
        font-size: 2.6rem;
    }

    @include medium {
        font-size: 2.7rem;
    }

    @include large {
        font-size: 3.4rem;
    }
}

.game-next-sentence {
    text-align: center;
    position: relative;
    top: -1.5rem;
    margin: 0 auto;

    p {
        color: $game-next-sent;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;

        @include small {
            font-size: 2rem;
        }

        @include medium {
            font-size: 2.2rem;
        }

        @include large {
            font-size: 2.4rem;
        }
    }
}

.game-input {
    display: block;
    width: 92%;
    margin: 0 auto 6rem auto;
    padding: 0.3rem;
    font-size: 2.4rem;
    color: $primary-text;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;

    @include small {
        max-width: 582px;
        font-size: 2.6rem;
    }

    @include medium {
        width: 80%;
        max-width: 672px;
        font-size: 2.8rem;
    }

    @include large {
        width: 70%;
        padding: 0.4rem;
        font-size: 3rem;
    }

    &:hover {
        box-shadow: 0 6px 14px rgba(97, 97, 97, 0.1), 0 6px 6px rgba(71, 71, 71, 0.2);
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    }
}


/* CARD */

%p-font-size {
    font-size: 1.4rem;

        @include medium {
            font-size: 1.55rem;
        }

        @include large {
            font-size: 1.6rem;
        }
}

.card {
    background-color: $card-background;
    width: 92%;
    max-width: 546px;
    min-height: 5rem;
    display: block;
    margin: 1rem auto 4rem auto;
    padding-bottom: 0.1rem;   /*??? */
    padding-top: 0.4rem;
    color: $primary-text;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);

    @include medium {
        padding-top: 0.7rem;
        min-height: 6rem;
    }

    @include large {
        padding-top: 1rem;
        min-height: 6rem;
    }
 
    &:hover {
        box-shadow: 0 6px 12px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
    }

    a, a:visited {
        display: inline;
        text-decoration: none;
        color: $accent-color;
        font-weight: bold;
        background-image: linear-gradient(to right, $accent-color, $gradient-bright);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        -webkit-transition: color 0.2s, background-size 0.15s;
        transition: color 0.2s, background-size 0.15s;

        &:hover {
            background-size: 100% 2px;
            color: $primary-text;
        }
    }
    

    p {
        margin: 2% 5% 5% 5%;
        padding: 0;
        line-height: 3rem;
        @extend %p-font-size;
    }

    p.tags-expl {
        line-height:3.6rem;
    }

    %card-heading-shared {
        margin: 0 5% 0% 5%;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-shadow: 1px 1px 2px rgba(155, 155, 155, 0.2);
    }

    h2 {
        @extend %card-heading-shared;
        font-size: 2rem;
        padding: 0.8rem 0 0 0;

        @include medium {
            font-size: 2.2rem;
        }

        @include large {
            font-size: 2.4rem;
        }
    }

    h3 {
        @extend %card-heading-shared;
        font-size: 1.7rem;
        padding: 1rem 0 0 0;

        @include medium {
            font-size: 1.8rem;
        }

        @include large {
            font-size: 2rem;
        }
    }

    ul {
        @extend %p-font-size;
    }
}


/* HIGH SCORES */

.high-scores {
    padding: 0 2rem 1rem 2rem;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    margin: 1.5rem 5% 0.5rem 5%;
    font-size: 1.6rem;

    th {
        text-align: left;
        padding: 1rem;
        border-bottom: 1.5pt $soft-gray solid;

        &:nth-child(1) {
            width: 12%;
        }

        &:nth-child(2) {
            width: 68%;
        }

        &:nth-child(3) {
            width: 20%;
            text-align: right;
            padding-right: 2rem;
        }
    }

    tr:nth-child(odd) {
        background-color: $container-background;
    }

    td {
        padding: 1rem;
        font-size: 1.8rem;

        &:nth-child(1) {
            padding-left: 2rem;
            font-weight: bold;
        }

        &:nth-child(3) {
            text-align: right;
            padding-right: 2rem;
            padding-left: 1.8rem;

        }
    }
}

#disclaimer {
    font-size: 1.4rem;
    padding-bottom: 0;
    
    span {
        font-style: italic;
    }
}


/* USER PAGE */

#rank, #highest-score, #times-played {
    padding: 0;
    margin: 3% 5%;
    border-bottom: 1px $soft-gray solid;
    font-size: 1.9rem;

    @include medium {
        font-size: 2.0rem;
        margin: 4% 5%;
    }

    @include large {
        font-size: 2.2rem;
        margin: 6% 5%;
    }
}

#rank {
    padding-top: 4%;
}

#trophy {
    float: right;
    text-shadow: none; // override parent shadow
    border-bottom: 1px $soft-gray solid;
}


/* MANAGE WORDS */

.word-form {
    margin: 2% 5% 5% 5%;
    font-size: 1.4rem;
    color: $primary-text;

        @include medium {
            font-size: 1.55rem;
        }

        @include large {
            font-size: 1.6rem;
        }
    
    label {
        @extend %label-shared;
    }

    input {
        font-size: 1.7rem;
        padding: 0.2rem;
        
        @include small {
            font-size: 1.8rem;
        }

        @include medium {
            font-size: 1.9rem;
        }

        @include large {
            font-size: 2rem;
        }
    }

    input[type=text] {
        margin: 1rem auto 2rem auto;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    input[type=submit] {
        @extend %button-shared;
    }
}

.words-title {
    font-size: 1.7rem;

        @include medium {
            font-size: 1.8rem;
        }

        @include large {
            font-size: 2rem;
        }
}

.words {

    a {
        font-size:1.7rem;

        @include medium {
            font-size: 1.9rem;
        }

        @include large {
            font-size: 2rem;
        }
    }
}


/* MANAGE SENTENCES */

.sentence-form {

    input[type=text] {
        letter-spacing: 0.25rem;
    }
}

#submit_sentence {
    width: 16rem;
}

.sentences {
    @include display-flex();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.sentence {
    @include flex(1);
    word-break: break-word;
    letter-spacing: 0.08rem;

    @include large {
        letter-spacing: 0.1rem;
    }
}

.delete-sentence {
    text-align: right;
}

/* FOOTER */

.footer {
    box-sizing: border-box;
    background-color: $primary-text;
    margin: 0;
    padding: 0;

    p {
        color: $footer-text;
        font-size:1.2rem;
        padding: 0.5rem;
        margin: 0;
        text-align: center;
        letter-spacing: 0.1rem;

        @include medium {
            font-size: 1.3rem;
        }

        @include large {
            font-size: 1.4rem;
        }
    }

    a, a:visited {
        color: $accent-color;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: $body-background;
        }
    }
}


/* MISC */

.float-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.no-margin-bottom {
    margin-bottom: 0 !important; 
}

.emphasize {
    font-style: italic;
}

#delete-user {
    font-size: 1.4rem;
    font-weight: bold;

    @include large {
        font-size: 1.6rem;
    }
}

.shadow { 
    text-shadow: 1px 1px 2px rgba(92, 92, 92, 0.4);
  }

.color-splash {
    color: $accent-color;
}

.warning {
    color: $warning;
}

#admin-nav {
    font-size: 1.4rem;
    padding-top: 1rem;

    @include medium {
        font-size: 1.6rem;
    }

    @include large {
        font-size: 1.8rem;
    }
}

#user-consent {
    color: #333;
    line-height: 3rem;
}

hr {
    border-top: 1px;
    margin: 0 2em;
    color: $soft-gray;
}

code {
    background-image:
        radial-gradient(
            circle at top right, 
            $container-background,
            $body-background
        );
    padding: 1px;
    margin: 0 1px;
    border: 1px solid lighten($primary-text, 60);
    border-radius: 2px;    
}