<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>
        {% if title %}T Y P E - {{ title }}{% else %}Welcome to T Y P E{% endif %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    
</head>
<body class="bg-dark text-white">

    <header class="bg-secondary text-center">
        <nav class="navbar navbar-dark justify-content-center">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Games</a>
            <a class="nav-link" href="#">High scores</a>
        </nav>
        <h2>T Y P E</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-unstyled">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
    </header>


    {# page content goes in here #}
    <div class="container text-center">
        {% block content %}{% endblock %}
    </div>
    
    {% if request.endpoint == 'survive' %}
    <script src="{{ url_for('static', filename='js/survive.js') }}"></script>
    {% endif %}
</body>
</html>