{% extends 'base.html' %}

{% block content %}
    <div class="card">    
        <h3>Edit user informat<span class="color-splash">i</span>on</h3>
        <p>Here you can change your username, password and registered email address.</p>
        <h3>Username</h3>
        <p>Current username: <span class="bold">{{ current_user.username }}</span></p>
        <p>Your username is displayed on your user page as well as on the sitewide high-score list.</p>
        <form class="user-form" action="" method="post">
            {{ user_form.hidden_tag() }}

            {{ user_form.username.label }}<br>
            {{ user_form.username(size=24, placeholder=current_user.username) }}<br>
            {% for error in user_form.username.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}
            {{ user_form.submit_username() }}
        </form>
        
        <h3>Ema<span class="color-splash">i</span>l address</h3>
        <p>Current email address: <span class="bold">{{ current_user.email }}</span></p>
        <p>Your email address is only ever used to reset your login information should you forget your username or password.</p>
        <form class="user-form" action="" method="post">
            {{ mail_form.hidden_tag() }}

            {{ mail_form.email.label }}<br>
            {{ mail_form.email(size=24, placeholder=current_user.email) }}<br>
            {% for error in mail_form.email.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}
            {{ mail_form.submit_email() }}
        </form>

        <h3>Password</h3>
        <p>Passwords are hashed and probably pretty secure. Even so, please don't use a password you use for anything sensitive, or anywhere else, preferably. Passwords must be between 6 and 50 characters long.</p>
        <form class="user-form" action="" method="post">
            {{ pass_form.hidden_tag() }}

            {{ pass_form.password.label }}<br>
            {{ pass_form.password(size=24) }}<br>
            {% for error in pass_form.password.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}

            {{ pass_form.password2.label }}<br>
            {{ pass_form.password2(size=24) }}<br>
            {% for error in pass_form.password2.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}                
        
            {{ pass_form.submit_password() }}
        </form>
    </div>
{% endblock %}