{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h3>H<span class="color-splash">i</span>gh scores</h3>
        <p>A user's score is their highest number of typed words per minute (WPM) or, more precisely, how many words they would have typed if they had continued typing at the same pace for a full minute.</p>
        <p>
            {% if current_user.is_authenticated %}
            Click a user's name to view their user page.
            {% else %}
            If you are logged in you can click on a user's name to view their user page.
            {% endif %}
        </p>
        <h3>{% if scores|count == 25 %}Top 25 players{% else %}Top players{% endif %}</h3>
        <table class="high-scores">
            <tr>
                <th>&nbsp;</th>
                <th>User</th>
                <th>WPM</th>
            </tr>
            {% for user in scores %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td><a href="{{ url_for('user', username=user.username) }}"><span class="bold">{{ user.username }}</span></a>{% if user.username == 'anonymous' %}*{% endif %}</td>
                <td>{{ user.high_score }}</td>                    
            </tr>
            {% endfor %}
        </table>
        <p id="disclaimer">* <span>Highest score achieved by users who are not logged in.</span></p>
    </div>
{% endblock %}