{% extends "base.html" %}

{% block content %}
    <div class="game-time-left"><p class="game-time-left-p"><span class="time-left">&nbsp;</span></p></div>
    <div class="game-sentence"><p class="game-sentence-p">&nbsp;</p></div>
    <div class="game-next-sentence"><p class="game-next-sentence-p">&nbsp;</p></div>
    <input type="text" class="game-input" autofocus>
    <div class="card">
        <h3>Instruct<span class="color-splash">i</span>ons</h3>
        <p>Compete against yourself and others to become a faster typist!</p>
        <p>Type sentences as fast as you can for 30 seconds. You may disregard capitalization and punctuation (periods and commas). Potential apostrophes (') and hyphens (-) are required. </p>
        <p>To track your scores and compete for the prestigious site High Score, <a href="{{ url_for('register') }}">register</a> an account and <a href="{{ url_for('login') }}">login</a>.</p>
        <h3>Notes</h3>
        <p>Sentences are generated randomly and don't necessarily make any sense, semantically.</p>
        <p>This game is primarily intended to be played with a real, physical keyboard, but feel free to also give it a go on your mobile devices.</p>
    </div>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}