{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h3>Log<span class="color-splash">i</span>n</h3>
        <p>Enter your username and password to login. Not yet a member? <a href="{{ url_for('register') }}">Click here</a> to sign up!</p>
        
        <form class="user-form" action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}
        
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}

            {{ form.submit() }} {{ form.remember_me() }} {{ form.remember_me.label }}
            
        </form>
        <p>Forgot your password? <a href="{{ url_for('reset_password_request') }}">Click here</a> to reset it.</p>
    </div>
{% endblock %}