{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h2>Pr<span class="color-splash">i</span>vacy policy</h2>
        <p>Typemania is a non-commercial personal project created for learning purposes. The application's full source code can be found on <a href="https://github.com/patrik-setterberg/type">GitHub</a>. This website stores some user data, detailed below.</p>
        <h3>Email adresses and user accounts</h3>
        <p>Registration requires entering an email address. User email addresses are stored [INSERT HOST DETAILS HERE]. Email addresses are only <span class="emphasize">ever</span> used to help <a href="{{ url_for('reset_password_request')}}">reset user passwords</a> in the event they lose or forget their username and/or password. There is no registration verification process, no newsletters and no sharing of user information to third parties aside from Google Analytics, detailed below.</p>
        <p>Users can, at any time, <a href="{{ url_for('edit_user') }}">change their login credentials</a> and permanently <a href="{{ url_for('delete_account') }}">delete their user accounts</a> without delay (requires logging in).</p>
        <h3>Usage statistics</h3>
        <p>Website usage is tracked with Google Analytics which is super shady because it is run by Google.</p>

    </div>
{% endblock %}