{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h3>Reg<span class="color-splash">i</span>ster</h3>
    <p>Registered users' scores are tracked on personal profile pages as well as on the site-wide high-score list.</p>
    <p>Email addresses are only ever used to reset your login information should you forget your username or password.</p>
    <p>Passwords are hashed and probably pretty secure. Even so, don't use a password you use for anything sensitive, or anywhere else, preferably. Passwords must be between 6 and 50 characters long.</p>
    <form class="user-form" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }}<br>
        {{form.username(size=24) }}<br>
        {% for error in form.username.errors %}
        <span>[ Error: {{ error }} ]</span><br><br>
        {% endfor %}
    
        {{ form.email.label }}<br>
        {{ form.email(size=24) }}<br>
        {% for error in form.email.errors %}
        <span>[ Error: {{ error }} ]</span><br><br>
        {% endfor %}
    
        {{ form.password.label }}<br>
        {{ form.password(size=24) }}<br>
        {% for error in form.password.errors %}
        <span>[ Error: {{ error }} ]</span><br><br>
        {% endfor %}                
    
        {{ form.password2.label }}<br>
        {{ form.password2(size=24) }}<br>
        {% for error in form.password2.errors %}
        <span>[ Error: {{ error }} ]</span><br><br>
        {% endfor %}                
    
        {{ form.submit() }}
    </form>
</div>
{% endblock %}