{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h3>Reset Your Password</h3>
        <p>Passwords are hashed and probably pretty secure. Even so, please don't use a password you use for anything sensitive, or anywhere else, preferably. Passwords must be between 6 and 50 characters long.</p>
        <form class="user-form" action="" method="post">
            {{ form.hidden_tag() }}

            {{ form.password.label }}<br>
            {{ form.password(size=24) }}<br>
            {% for error in form.password.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}

            {{ form.password2.label }}<br>
            {{ form.password2(size=24) }}<br>
            {% for error in form.password2.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}
        
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}