{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h3>Reset Password</h3>
        <p>Enter the email address you used to register your account. You will receive instructions for setting a new account password.</p>
        <form class="user-form" action ="" method="post">
            {{ form.hidden_tag() }}
        
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span>[ Error: {{ error }} ]</span><br><br>
            {% endfor %}
            
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}