{% extends 'base.html' %}

{% block content %}
    <!-- Word & Input -->
    <div class="row">
            <div class="col-md-6 mx-auto">
                <h3>{{ user.username }}</h3>
                {% if current_user.username == 'admin' and user.last_seen %}
                <p>Last seen on: {{ user.last_seen.strftime("%Y-%m-%d at %H:%M") }}</p>
                {% endif %}
                <p class="lead">
                    Welcome to yo user page.
                </p>
    
                <!-- Box info -->
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="card card-body bg-secondary text-white">
                            <h5>Note maybe:</h5>
                            <p>Info about yo score and stuff perhaps eller ingen sån här box nödvändigtvis... Inte alls tror jag.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
{% endblock %}