{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <h2><i class="fa fa-user-circle"></i> {{ user.username }}<span id="trophy"><i class="fas fa-trophy"></i></span><script src="{{ url_for('static', filename='js/trophy.js') }}"></script><script>setColor({{ user.high_score_pos }});</script></h2>
        <p id="rank">Current rank: <span class="float-right bold">#{{ user.high_score_pos }}</span></p>
        <p id="highest-score">Highest score: <span class="float-right bold">{{ user.high_score }} WPM</span></p>
        
        {% if current_user.username == user.username %}
        <h3><i class="fas fa-wrench"></i> Settings</h3>
        <p>If you wish to change your username, registered email address or your password, go to the <a href="{{ url_for('edit_user') }}">edit user information</a> page.</p>
        <p>Should you wish to delete your account permanently, head over to the <a href="{{ url_for('delete_account') }}">delete account</a> page.</p>
        {% else %}
            {% if user.last_seen %}
            <h3>Activity</h3>
            <p>{{ user.username }} was last here on {{ user.last_seen.strftime("%A, %b %d, %Y") }}.</p>
            {% endif %}
        {% endif %}
    </div>  
{% endblock %}